html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #000000;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scene-container {
    position: absolute;
    overflow: hidden;
}

img {
    -webkit-user-select: none;
    user-select: none;
    
    -webkit-user-drag: none;
    user-drag: none;
    
    -webkit-touch-callout: none;
    touch-callout: none;
}

p {
    -webkit-user-select: none;
    user-select: none;
}

.scene-img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: 1;
}

.element {
    position: absolute;
}

.fade-screen {
    z-index: 999999;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.nice-list-name-hitbox {
    z-index: 9999;
}

.underline {
    z-index: 1;
    width: 100%;
}

.mistletoe {
    z-index: 9999;
}

.elf {
    z-index: 1;
}

.speech-bubble {
    z-index: 9999;
    background-color: #f1f1f1;
    border-radius: 4%;
    outline: 2px solid #222222;
}

.speech-bubble-text {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 8%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.2vw;
    color: #333333;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    cursor: default;
}

.scroller {
    z-index: 9999;
    width: 10%;
    height: 100%;
    top: 0;
}

.scroller-left {
    left: 0;
}

.scroller-right {
    right: 0;
}

.belt-segment {
    z-index: 2;
}

.gift-box {
    z-index: 3;
}

.sleigh-rail-segment {
    z-index: 100;
}

.carrot-trough {
    z-index: 200;
}

.carrot {
    z-index: 9999;
}

.stable-tree {
    z-index: 190;
}

.reindeer {
    z-index: 200;
}

.sleigh {
    z-index: 120;
}

.gift-pile {
    z-index: 99999;
}