html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #000000;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scene-container {
    position: absolute;
    overflow: hidden;
}

.scene-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    z-index: 1;
}

.belt-segment {
    position: absolute;
}